* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #FFF;
}

#root,
.cards-container,
.films-list,
.series-list {
  display: flex;
}

#root {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.searchbar {
  margin: 20px;
}

.films-list,
.series-list {
  flex-direction: column;
}

h2 {
  align-self: center;
}

.cards-container {
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 280px;
  height: 380px;
  border: 1px solid #FFF;
  border-radius: 3px;
  margin: 20px 30px;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.original-language img {
  width: 30px;
}
