* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  background-color: #333;
}

/* header */

header {
  background-color: #000;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.display-flex {
  display: flex;
}

.logo {
  width: 160px;
  height: 100%;
  margin-right: 20px;
  align-self: center;
}

.logo img{
  width: 100%;
  height: 100%;
}

.navbar {
  width: 400px;
  height: 100%;
}

.nav {
  width: 50%;
  height: 100%;
  align-items: center;
}

.nav a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
}

.nav a:hover {
  font-weight: 700;
}

.searchbar {
  margin: 20px;
}

input, button {
  height: 30px;
}

input {
  width: 350px;
  border: 2px solid #333;
  background-color: #000;
  color: #DDD;
}

button {
  width: 70px;
  font-size: 14px;
  color: #FFF;
  border: 2px solid #FFF;
  background-color: #000;
}

button:hover {
  cursor: pointer;
}

/* main */

main{
  background-color: #333;
  width: 100vw;
  min-height: calc(100vh - 80px);
  flex-direction: column;
  align-items: center;
}

.results {
  flex-direction: column;
  margin: 40px 0;
}

h2 {
  margin: 20px;
}

h2:first-of-type {
  align-self: center;
  margin: 20px 0;
}

.cards-container {
  max-width: 1500px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flip-card {
  width: 258px;
  height: 390px;
  margin: 20px;
  perspective: 1500px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.poster, .info {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
}

.info {
  flex-direction: column;
  font-size: 18px;
  color: white;
  transform: rotateY(180deg);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  overflow-y: auto;
}

img.image-not-available {
  width: 100%;
  height: 100%;]
}

ul {
  list-style-type: none;
  padding: 20px 10px;
}

li {
  margin-bottom: 10px;
  font-size: ;
}

li a {
  color: white;
}

li:last-child {
  margin-top: 15px;
}

li:last-child p {
  font-size: 12px;
  line-height: 2em;
}

li span {
  font-weight: 700;
}

.original-language img {
  width: 30px;
}

[v-cloak] {
  display: none;
}


/* scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000;
}


/* spinner */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
