<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolflix</title>
  </head>
  <body>
    <div id="root">
      <div class="searchbar">
        <input @keyup.enter="search()" type="text" name="" value="" v-model="userSearch">
        <button @click="search()" type="button" name="button">Cerca</button>
      </div>

      <div class="cards-container">
        <div class="card" v-for="film in filmsList">
          <ul>
            <li class="title">
              Titolo: + {{film.title}}
            </li>
            <li class="original-title">
              Titolo originale: + {{film.original_title}}
            </li>
            <li class="original-language">
              Lingua originale: + {{film.original_language}}
            </li>
            <li class="vote">
              <i class="fas fa-star" v-for="vote in film.vote_average"></i>
              <i class="far fa-star" v-for="vote in (maxVote - film.vote_average)"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script src="assets/main.js" charset="utf-8"></script>
  </body>
</html>
